<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On
    RewriteBase /<asso>/<sub_folder>/
    # Redirect All Requests To The Subfolder
    RewriteRule ^ public/ [L]

</IfModule>
